#panda{
width: 600px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
border-bottom: 1px solid gainsboro;
}

.header{
    padding: 50px;
    text-align: center;
    background-color: beige;
    color: #94805a;
    margin-bottom: 20px;
    border-radius: 5px;
    

}

#buttons{
    border-bottom: 1px solid gainsboro;
    text-align: center;
    padding-bottom: 10px;
}

.button{
    display: inline-block;
    text-decoration: dotted;
    font-size: 14px;

}

#panda .img{
    height: 300px;
    width: 300px;
    background-image: url("red-panda.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

.end{
    text-align: center;
}